{% load static %}

<header class="main-header">
    <div class="container clearfix">
        <nav class="main-navigation">

					<a class="logo-inner" href="{% url 'main_page_url' %}">
					<img src="{% static 'images/inner-logo.png' %}" width="111"
					height="24" alt="Peluqueria Bremen">
					</a>

				
				
				<ul>
					<li class="cortes_edit"><a href="{% url 'listar_cortes' %}">Editar Cortes</a></li>
					<li class="agregar_cortes"><a href="{% url 'agregar_cortes' %}">Agregar Cortes</a></li>
					<li class="empleados_edit"><a href="{% url 'listar_empleados' %}">Editar Empleados</a></li>      
					<li class="empleados_agregar"><a href="{% url 'agregar_empleados' %}">Agregar Empleados</a></li>        

				</ul>

        </nav>
        <div class="user-block">
			{% if user.is_authenticated %}
            	
				<li><a  href="{% url 'logout'%}">@{{ user.username }} Cerrar Sesión</a></li>
			
			{% else %}
				<a class="login" href="{% url 'login' %}">Entrada</a>
			
			{% endif %}
        </div>


    </div>
</header>