{% load static %}

<header class="main-header">
    <div class="container clearfix">
        <nav class="main-navigation">
			{% with request.resolver_match.url_name as url_name %}
				{% if url_name != 'main_page_url' %}
					<a class="logo-inner" href="{% url 'main_page_url' %}">
					<img src="{% static 'images/inner-logo.png' %}" width="111"
					height="24" alt="Peliqueria Bremen">
					</a>
				{% endif %}
				
				
				<ul>
					<li class="informacion"><a href="#">Información</a></li>
					<li class="noticias"><a href="#">Noticias</a></li>        
					<li class="Lista_precios"><a href="#">Lista de precios</a></li>        
					<li class="tienda"><a href="#">Tienda</a></li>        
					<li><a href="#">Contactos</a></li>

				</ul>
			{% endwith %}
        </nav>
        <div class="user-block">
			{% if user.is_authenticated %}
            	
				<li><a  href="{% url 'logout'%}">@{{ user.username }} Cerrar Sesión</a></li>
			
			{% else %}
				<a class="login" href="{% url 'login' %}">Entrada</a>
			
			{% endif %}
        </div>


    </div>
</header>