{% extends 'barber_app/barber_base.html' %}
{% load static %}

{% block title %}
	Bremen - {{ block.super }}
{% endblock %}



{% block js%}
<script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>

<script>
    $(document).ready(function() {
      $('.slider').bxSlider({
          mode: 'fade',//horizontal, vertical, fade
          auto: true,
          pause: 2000
      });
    });
</script>

{% endblock %}

{% block css%}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
{% endblock%}













{% block content %}
   
    {% load humanize%}

        <!-- Titulo -->
        <div class="col-12 mb-4 ">
            <h1 class="display-4 text-center" style="color :white;">Cortes</h1>
        </div>

        <!-- Cortes -->
        {% for p in corte %}
            <div class="col-8 col-sm-6 col-md-4 mb-3">
                <div class="card card-img-3-producto-home">
                    <div class=" h-100 ">
                        
                        {% if p.imagen%}
                        <img 
                            class="card-img-top mx-auto"
                            src="{{MEDIA_URL}}{{p.imagen.url}}"
                            alt="{{p.nombre}}"
                        >
                        {% endif %}
                    </div>
                    <div class="card-body card-body-3-productos-home">
                        <h2 class="card-title text-truncate">{{p.nombre}}</h2>
                        <h4 class="card-title text-truncate">${{p.precio}}</h4>
                        <p class="card-text ">{{p.descripcion|truncatechars:100}}</p>
                        <a href="{% url 'cita'%}" class="btn btn-success btn-block">Comprar</a>
                        
                       
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>





{% endblock %}