{% extends 'barber_app/barber_base.html' %}
{% load static %}

{% block title %}
	Bremen - {{ block.super }}
{% endblock %}

{% block content %}
   
    {% load humanize%}



<h2 style="color: white;">Cortes</h2>

<div class="Cortes">
    
    {% for p in corte%}
    <div class="cortes" style="color: red;">
        
        <div class="contenedor_cortes">
        
            {% if p.imagen%}
                <img src="{{ p.imagen.url }}" alt="imagen corte">
            {% endif %}

            <div class="detalle">
                <h3>{{p.nombre | capfirst}}</h3>
                <p>{{p.descripcion}}</p>
                <h5>{{p.precio | intcomma}} Pesos</h5>
            </div>

         
        </div>

        
    </div>
    {% endfor %}
</div>

{% endblock %}