{% if entity.has_previous %}
  <a href="?page={{ entity.previous_page_number }}">« Anterior</a>

  {% if entity.number > 3 %}
    <a href="?page=1">1</a>
    {% if entity.number > 4 %}
      <span>...</span>
    {% endif %}
  {% endif %}
{% endif %}

{% for num in entity.paginator.page_range %}
  {% if entity.number == num %}
    <a href="?page={{ num }}">{{ num }}</a>
  {% elif num > entity.number|add:'-3' and num < entity.number|add:'3' %}
    <a href="?page={{ num }}">{{ num }}</a>
  {% endif %}
{% endfor %}

{% if entity.has_next %}
  {% if entity.number < entity.paginator.num_pages|add:'-3' %}
    <span>...</span>
    <a href="?page={{ entity.paginator.num_pages }}">{{ entity.paginator.num_pages }}</a>
  {% elif entity.number < entity.paginator.num_pages|add:'-2' %}
    <a href="?page={{ entity.paginator.num_pages }}">{{ entity.paginator.num_pages }}</a>
  {% endif %}

  <a href="?page={{ entity.next_page_number }}">Siguiente »</a>
{% endif %}